

.alertBox{
    width: 150px;
    height: 70px;
    position: absolute;
    left: 12%;
    top: 30%;
    z-index: 16;
}

.acccount-content{
 

}

.acccount-tab{
  
}

.tabs{

}

.account-display {
    background-color: aliceblue;
    width: 15%;
}