@media screen and (min-width: 800px) {
  .my-account {
    border: solid 2px;
    display: grid;
    grid-template-columns: 10% 90%;
  }
  .user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .tabs {
    display: flex;
    flex-direction: column;
    width: 100px;
  }

  .tab {
    position: relative;
    cursor: poiter;
  }

  .active-tab::after {
    background-color: transparent;
    opacity: 0.6;
  }

  .contents {
  }

  .content {
    display: none;
    position: relative;
    border: solid 2px;
  }

  .active-content {
    display: flex;
    flex-direction: column;
    position: relative;
    border: solid 2px;
    padding: 50px;
  }
}

@media screen and (max-width: 800px) {
  .my-account {
    border: solid 2px;
  }
  .user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tab {
    position: relative;
    cursor: poiter;
  }

  .contents {
    position: relative;
  }

  .content {
    display: none;
    position: relative;
    border: solid 2px;
  }

  .active-content {
    position: relative;
    padding: 50px;
  }
}
