.genreCardCont{
    width: 100px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.067);
    position: relative;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    margin-left: 3px;
    margin-right: 3px;
    position: relative;

    box-shadow: inset 0px -25px #12164b32;
    backdrop-filter: blur(4px);
    cursor:default;
}
.top1card{
    background-color: rgba(255, 255, 0, 0);
    transform: scale(1.4);
    translate: 4px 0px;
}
.top2card{
    background-color: rgba(255, 255, 0, 0);
    transform: scale(1);
}
.top3card{
    background-color: rgba(255, 166, 0, 0);
    transform: scale(0.8);
}

.top1card > genreCardCont{

}
.top1card > h1,
.top2card > h1,
.top3card > h1{
    /* font-weight: bold; */
    transform: scale(0.9);
}
/* .top3card{
    transform: translateX(-40px);
} */
.genreFiller{
    width: 100px;
    height: 140px;
    background-color: #12164b1a;
}
.recordItem{
    width: 100px;
    bottom: 0;
}
.recordCont{
    display: flex;
    height: fit-content;
    width: fit-content;
    background-color: rgba(255, 130, 220, 0);
    padding: 1px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px -2px 8px inherit;
    transition: ease-out 0.15s;
    transform: translateY(43px);
}
.recordCont:hover{
    transform: translateY(33px);
    background-color: rgba(255, 130, 220, 0.994);
    
}
.genreSticker{
    background-color: rgba(255, 130, 220, 0.994);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    margin-left: 29px;
    position: absolute;
}
.genrePercent{
    padding-left: 1px;
    padding-right: 1px;
    position: absolute;
    background-color: rgba(190, 175, 175, 0.824);
    border-radius: 5px;
    align-self: center;
    color:#020207;
    bottom: 0;
    margin-bottom: 2px;
    font-size: x-small;
    backdrop-filter: blur(1px);
    border: 1px solid rgba(190, 175, 175, 0.929);
    box-shadow: rgba(0, 0, 0, 0.382) 0px 1px 2px;
    cursor:default;
    transform: translateY(15px);
    transition: 0.25s;
    opacity: 0.0;
    font-weight: 600;
}
.genreCardCont:hover > .genrePercent {
    scale: 1.3;
    transform: translateY(-15px);
    transition: 0.25s;
    opacity: 1;
    box-shadow: rgba(190, 175, 175, 0.63) 0px 1px 2px;
}
.genreNameCont{
    padding:2px;
    padding-left: 6px;
    padding-right: 6px;
    position: absolute;
    top:0;
    margin-top: 3px;
    background-color: #12164B;
    color: white;
    border-radius: 5px;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.382) 0px 1px 2px;
    text-transform: capitalize;
}




