@media screen and (min-width:800px) {
    .cont{
        transition: 0.4s;
    }
    .bg1test{
        width: fit-content;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin:0;
        padding-left: 10px ;
    }
    .bg{
        background-color: rgba(18, 22, 75, 0.7);
        /* From https://css.glass */
        /* background: rgba(8, 12, 61, 0.55); */
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(16.1px);
        -webkit-backdrop-filter: blur(16.1px);
        border:rgba(25, 29, 75, 0.7) 2px solid;
        overflow: hidden;
        
      }
    
    .bg:hover{
        background:  linear-gradient(to top, #8650F4, #0034C4);
        border:rgba(78, 78, 78, 0.976) 2px solid;
    }
    
    .alb-card-text{
        text-decoration: none;
        overflow: hidden;
        margin: 0;
    
    }
    .art-card-text-cont-1{
        height: 40px;
        text-align: center;
        margin: auto;
    }
    .art-card-text-cont-2{
        height: 30px;
        text-align: center;
        margin: auto;
        background-color: #8750f400;
        display: flex;
        justify-items: center;
        align-items: center;
        padding-left: 3px;
        padding-right: 3px;
    }
    .albtxt{
        font-size: small;
        color: white;
        width: 90px;
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .albtxt:focus, .albtxt:hover{
        text-decoration: none;
        color:white;
        font-weight: bold;
    }
    .arttxt{
        font-size:x-small;
        color: #878694;
    }
    
    .arttxt:focus, .arttxt:hover{
        text-decoration: underline;
        color:#b9b8c8;
        
    }
    
    .text:focus, .text:hover{
    }
    .card-alb-cont{
        width: 180px !important;
        height: 230px !important;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
        display: flex;
    
    }
    .card-alb-img-cont{
        width:170px !important;
        height:170px !important;
        background-color: rgba(127, 255, 212, 0);
        border-radius: 20px !important;
        overflow: hidden;
        margin-top: 3px;
    
    }
    .card-alb-text-cont{
        width: 100px;
        height: 70px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 4px;
        
    }


}
.cont{
    transition: 0.4s;
}
.bg1test{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin:0;
    padding-left: 10px ;
}
.bg{
    background-color: rgba(18, 22, 75, 0.7);
    /* From https://css.glass */
    /* background: rgba(8, 12, 61, 0.55); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.1px);
    -webkit-backdrop-filter: blur(16.1px);
    border:rgba(25, 29, 75, 0.7) 2px solid;
    overflow: hidden;
    transition: background-color 0.5s ease-in-out;
  }

.bg:hover{
    background:  linear-gradient(to top, #8650F4, #0034C4);
    border:rgba(78, 78, 78, 0.976) 2px solid;
    transition: background-color 0.5s ease-in-out;
    /* transition: background-color 0.5s ease; */
}

.alb-card-text{
    text-decoration: none;
    overflow: hidden;
    margin: 0;

}
.art-card-text-cont-1{
    height: 40px;
    text-align: center;
    margin: auto;
}
.art-card-text-cont-2{
    height: 30px;
    text-align: center;
    margin: auto;
    background-color: #8750f400;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
}
.albtxt{
    font-size: small;
    color: white;
    width: 90px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.albtxt:focus, .albtxt:hover{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.arttxt{
    font-size:x-small;
    color: #878694;
}

.arttxt:focus, .arttxt:hover{
    text-decoration: underline;
    color:#b9b8c8;
    
}

.text:focus, .text:hover{
}
.card-alb-cont{
    width: 100px;
    height: 170px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    display: flex;

}
.card-alb-img-cont{
    width:90px;
    height:90px;
    background-color: rgba(127, 255, 212, 0);
    border-radius: 7px;
    overflow: hidden;
    margin-top: 3px;

}
.card-alb-text-cont{
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4px;
    
}
