.user-login{
    max-width: 380px;
    margin: 0 auto;

}

.user-login-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}


.user-login-header{
    text-align: center;
    color: white;
}

.user-loginbtn{
    background-image: linear-gradient(to left, #8650f4, #0034c4);
    border-radius: 5px;
    width: 360px;
    padding: 5px;
    border: #8650f4 2px solid;
}

.user-loginbtn:hover{
    background-image: linear-gradient(to left, #8650f4, #0034c4);
    opacity: 0.8;
}
.form-outline{
    margin-left: 5px;
    margin-right: 5px;
}

.form-control {
    background-color: transparent;
    transform: none;
    color: white;
    border-color: rgb(116, 122, 122);
}

.form-label{
    color: white;
}

.user-signupbtn{
    border-color: #8650f4;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    box-sizing: border-box;
    min-width: 360px;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    margin-top: 1vh;
   
  
}

.user-signupbtn:hover{
    background-color: rgba(240, 248, 255, 0.071);
    -webkit-backdrop-filter: blur(5px);
}

.buttonCont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


.user-go-fa-div{
    margin-top:5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.go{
    display: flex;
}

.fa{
    display: flex;
}

.user-go-fa-wrap{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
}

.go-icon{
    width: 25px;
    height: 25px;
}

.fa-icon{
    width:25px;
    height:25px;
    
}