@media screen and (min-width:800px) {
    .artistCard-txt-container{
        text-overflow: ellipsis;
        overflow: hidden ;
        white-space: wrap;
        width: 200px;
        height: 100px;
        text-align: center;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .artistCard-text{
        size: x-large !important;
        color: #878694;
        text-decoration: none;
        text-overflow: ellipsis;
        text-align: center;
        max-width: 200px;
        max-height: 100px;
        
    }
    .artistCard-bg-fglass-1{
        /* border: 1px solid rgba(255, 255, 255, 0); */
        background: rgba(255, 255, 255, 0.009);
        border-radius: 16px;
        transition: 0.3s;
        cursor: pointer;
        width: 200px;
    
    }
    .artistCard-bg-fglass-1:hover{
        background: #8750f450;
        
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        /* border: 1px solid rgba(255, 255, 255, 0.098); */
    }
    
    .artistCard-bg-fglass-1:hover > div > a{
        color:white;
    }
    .artistCard-bg-fglass-1:hover > div >.borderTest{
        backdrop-filter: saturate(150%);
        box-shadow: 0px 2px 5px #8750f41d !important;
    }
    
    .artistCard-border{
        background: linear-gradient(to top, #8650F4, #0034C4);
        border-radius: 500px !important;
        margin:5px !important;
        padding: 1px;
        box-sizing: border-box;
        display: flex;
        filter: none;
        height:120px !important;
        width: 120px !important;
        overflow: hidden;
    
    }
    .artistCard-img-cont{
        background-color: rgba(30, 30, 30, 0.354);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 50px;
        width: 100px !important;
        height:100px !important;
        margin: auto;
    }
    .artistCard-img{
        object-fit: cover;
        height:105px !important;
        align-self: center;
        margin: auto;
    }
    
}


.artistCard-txt-container{
    text-overflow: ellipsis;
    overflow: hidden ;
    white-space: wrap;
    width: 80px;
    height: 40px;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.artistCard-text{
    size: small;
    color: #878694;
    text-decoration: none;
    text-overflow: ellipsis;
    text-align: center;
    max-width: 80px;
    max-height: 40px;
    
}
.artistCard-bg-fglass-1{
    /* border: 1px solid rgba(255, 255, 255, 0); */
    background: rgba(255, 255, 255, 0.009);
    border-radius: 16px;
    transition: 0.3s;
    cursor: pointer;

}
.artistCard-bg-fglass-1:hover{
    background: #8750f450;
    
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    /* border: 1px solid rgba(255, 255, 255, 0.098); */
}

.artistCard-bg-fglass-1:hover > div > a{
    color:white;
}
.artistCard-bg-fglass-1:hover > div >.borderTest{
    backdrop-filter: saturate(150%);
    box-shadow: 0px 2px 5px #8750f480;
}

.artistCard-border{
    background: linear-gradient(to top, #8650F4, #0034C4);
    border-radius: 50px;
    margin:5px;
    padding: 1px;
    box-sizing: border-box;
    display: flex;
    filter: none;
    width: 50px;
    height:50px;
    overflow: hidden;

}
.artistCard-img-cont{
    background-color: rgba(30, 30, 30, 0.354);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;
    width: 40px;
    height:40px;
    margin: auto;
}
.artistCard-img{
    object-fit: cover;
    height:41px;
    align-self: center;
    margin: auto;
}
