@media screen and (min-width: 800px) {
  .my-account {
    border: solid 2px;
    display: grid;
    grid-template-columns: max(15%) max(85%);
    color: white;
    min-height: 100%;
    background-color: #0c081c;
    border-radius: 2vmin;
  }

  .my-account-header {
    color: white;
  }
  .user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .my-account .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid;
    border-top-right-radius: 0vmin;
    border-bottom-right-radius: 0vmin;
    min-height: 500px;
    padding: 10px;

    
  }

  .tab {
    position: relative;
    cursor: pointer;
    padding: 3vmin;
  }

  .active-tab:hover {
    background-color: transparent;
    opacity: 0.6;
    cursor: pointer;
  }

  .tab:hover {
    background-color: transparent;
    opacity: 0.6;
  }

  .my-account .active-tab {
    border-bottom: solid 1px #8750f4e6;
    cursor: pointer;
    padding: 3vmin;

  }

  .contents {
  }

  .form-control {
    max-width: 400px;
  }
  .content {
    display: none;
    position: relative;
  }

  .active-content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px;
  }
  
  .user-img-div {
    padding-bottom: 2vmin;
  }

  .user-img-div:hover  {
    opacity: 0.6;
  }

  .user-img-div > h4 {
    font-size: 12px;
    position: absolute;
    margin-top: -55px;
    margin-left: 20px;
    display: none;
    /* text-align: center; */
  }

  .user-img-div:hover > h4 {
    display: block;

  }

}

@media screen and (max-width: 800px) {
  .my-account-header { 
    color: white;
  }
  .my-account {
    border: solid 2px;
  }
  .user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tab {
    position: relative;

    cursor: poiter;
  }

  .active-tab {
    background-color: rgb(159, 176, 190);
    border: 1px solid;
  }

  .contents {
    position: relative;
  }

  .content {
    display: none;
    position: relative;
    border: solid 2px;
  }

  .active-content {
    position: relative;
    padding: 50px;
  }
}
