@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    /* background-color: #0C081C; */
    background-image: linear-gradient(to right, #0c081c, #0e0924, #0d0a2c, #0b0b35, #080c3d);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: auto;
    color: white;
   
    
}

@media only screen and (max-width: 768px) { 

    .profile--body {
      margin-left: 20vmin;
      
    }
  
    /* HEADER */
    .createplaylist--header {
      text-align: center;
      padding-top: 6vmin;
      font-size: 3vmin;
      display: flex;
      padding-left: 5vmin;
  
    }
  
    .createplaylist--header > h1 {
      margin-left: 20vmin;
    }
  
    .createplaylist--back {
      width:10vmin;
      height: 10vmin;
      /* padding-right: 5vmin; */
    }
  
    .createplaylist--circle--border {
      width: 11vmin;
      height: 11vmin;
      /* position: absolute; */
      border-color: #0034C4;
      border-radius: 25vmin;
      border-width: 0.75vmin;
      border-style: solid;
      /* margin-top: 2%; */
      margin-left: 20%;
    
    }
  
    .createplaylist--artist--icon > img {
      background-color: transparent;
      max-width: 85%;
      margin-left: 2%;
      margin-top: 8%;
      margin-bottom: -1%;
      border-radius: 20vmin;
    }  
  
  
    /* PLAYLIST INFO */
    .createplaylist--info {
      display: flex;
      position: fixed;
      width: 100%;
      margin-top: 2vh;
  
      
    }
  
    .createplaylist--addsongs {
      margin-top: 65vmin;
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 50vh;
      padding-bottom: 15vmin;
      
    }

    #playlisttitle {
      background-color: transparent;
      margin-bottom: 1vmin;
      border-radius: 1vmin;
    }

    #searchbar {
      width: 90%;
      margin-left: 5vw;
      height: 10vmin;
      padding-left: 5vw;
      border-radius: 5vmin;
      color: white;
      background-color: transparent;
      outline-color: white;
    }
  
    .createplaylist--song--cover {
      border-radius: 1vmin;
      height: 40vmin;
      width: 40vmin;
      margin-left: 7%;
      margin-top: 10%;
    }
  
    .createplaylist--song--cover img {
      border-radius: 1vmin;
      height: 40vmin;
      width: 40vmin;
    }
  
    .createplaylist--stats--info  {
      margin-top: 10vmin;
      margin-left: 5vmin;
    }
  
    .createplaylist--stats--info > h3 {
      font-size: 6vmin;
    }
  
    .createplaylist--stats--info > h4 {
      font-weight: 200;
    }
  
    .createplaylist--release--info  {
      display: flex;
    }
  
    .createplaylist--release--info > h5 {
      padding-right: 2vmin;
      font-weight: 400;
    }
  
    .createplaylist--release--info > h6 {
      font-size: 3vmin;
      font-weight: 100;
    }
  
    .createplaylist--song {
      background-color: #12164B;
      width: 90%;
      height: 20vmin;
      margin: auto;
      margin-top: -5vmin;
      border-radius: 3vmin;
  
    }

    #playlistdesc {
        margin-top: 2vmin;
        height: 15vh;
        width: auto;
        background-color: transparent;
        border-radius: 1vmin;
        /* font-size: 2vmin; */
    }

    .createplaylist--custom-file-upload {
      /* border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px; */
      cursor: pointer;
      /* margin-top: 5vmin; */
      margin-left: 52vmin;

      align-items: center;
      appearance: none;
      background-image: linear-gradient(to left, #8650f4, #6f49e8, #5642dc, #393bd0, #0034c4);
      border-radius: 1vmin;
      border-style: none;
      box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-flex;
      fill: currentcolor;
      /* font-family: "Google Sans",Roboto,Arial,sans-serif; */
      font-size: 2vmin;
      font-weight: bold;
      height: 5vmin;
      justify-content: center;
      letter-spacing: .25px;
      line-height: normal;
      max-width: 100%;
      overflow: visible;
      padding: 2px 24px;
      position: relative;
      text-align: center;
      text-transform: none;
      transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: auto;
      will-change: transform,opacity;
      z-index: 0;
      margin-bottom: 3vmin;
      margin-left: 3vmin;
    }

    .createplaylist--gradient--btn, .createplaylist--image--btn, .createplaylist--hide--file > input[type="file"] {
      display: none;
  }

  #upload--icon {
    height: 2vh;
    width: auto;
    margin-left: 3vmin;
    margin-right: -1vmin;
  }
    
  .createplaylist--songs {
    /* margin-top: -10vmin; */
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 50vh;
    padding-bottom: 15vmin;
    
  }

  .createplaylist--song {
    background-color: #12164B;
    width: 90%;
    height: 16vmin;
    margin: auto;
    margin-top: -3vmin;
    border-radius: 3vmin;

  }

  .createplaylist--song:hover {
    transform: scale(1.01); 
    box-shadow: 0 0 11px #0034C4;
  }

  .createplaylist--song:hover >  .createplaylist--tiny--cover > #playmask {
    position: absolute;
    display:inline;
    margin-left: -11vmin;
  }

  .createplaylist--delsong > img{
    width: 7.5vw;
    margin-right: -2vmin;
    margin-top: -4vmin;
  }

  .createplaylist--delsong:hover > img{
    transform: scale(1.01); 
    box-shadow: 0 0 22px #0034C4;
    border-radius: 5vmin;
  }

  .createplaylist--delsong {
    float: right;
    padding-bottom: 5vw;
  }

  .createplaylist--tiny--cover {
    border-radius: 1vmin;
    height: 11vmin;
    width: 11vmin;
    margin-left: 5%;
    margin-top: 10%;
  }

  .createplaylist--tiny--cover img {
    border-radius: 1vmin;
    height: 11vmin;
    width: 11vmin;
    margin-top: 3vmin;
  }

  .createplaylist--tiny--cover > #playmask {
    position: absolute;
    display: none;
  }

  .createplaylist--song--info {
    margin-left: 20vmin;
    margin-top: -8vmin;
  }

  .createplaylist--song--info > h5 {
    font-weight: 400;
    font-size: 2.5vmin;
  }

  .createplaylist--song--info > h5 > span {
    font-weight: 200;
    font-size: 2vmin;
    color: white;
  }

  .createplaylist--song--info > h6 {
    font-weight: 300;
    color: #878694;
    width: 30vmin;
    font-size: 2vmin;
  }

  .createplaylist--song--options {
    display: flex;
    margin-left: 62vmin;
    margin-top: -8vmin;
  }

  #createplaylist--song--heart, #createplaylist--song--share, #createplaylist--song--more {
    height: 4.5vmin;
    /* width: 20vmin; */
    padding-right: 3vmin;
  }

 .createplaylist--submit--btn {
   display: block; 

   align-items: center;
   appearance: none;
   background-image: linear-gradient(to left, #8650f4, #6f49e8, #5642dc, #393bd0, #0034c4);
   border-radius: 5vmin;
   border-style: none;
   box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   display: inline-flex;
   fill: currentcolor;
   /* font-family: "Google Sans",Roboto,Arial,sans-serif; */
   font-size: 3vmin;
   font-weight: bold;
   height: 5vmin;
   justify-content: center;
   letter-spacing: .25px;
   line-height: normal;
   max-width: 100%;
   overflow: visible;
   position: relative;
   text-align: center;
   text-transform: none;
   transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: auto;
   will-change: transform,opacity;
   z-index: 0;
   margin-bottom: 3vmin;
   margin-right: 3vw;
   margin-top: 4vw;
   padding-left: 5vmin;
   padding-right: 5vmin;
   padding-bottom: 5vmin;
   padding-top: 1vmin;
   float: right;
  }

  .createplaylist--createbtn {
    /* margin-bottom: -10vmin; */
  }

}