.miniSidebar{
    /* background-image: linear-gradient(to left, #8650f4, #0034c4); */

    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}


.minibar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
}

.minibar-item:hover {
    opacity: 0.6;
}


.minibar-icon{
    margin: 5px;
}

.minibar-title{
    margin: 5px;
}

