.DG-card-home{
    text-decoration: none;
}


.pad-t-5{
    padding-top: 5px;
}
.pad-t-10{
    padding-top: 10px;
}
@media screen and (max-width:380px){
    .mar-t{
        margin-top: 20px;
    }
}
@media screen and (min-width:380px){
    .mar-t{
        margin-top: 50px;
    }
}
@media screen and (min-width:800px) {
    .test123456{
      background-color: crimson;
      margin-left: 2%;
    }
  }

.mar-l-5{
    margin-left: 5px;
}
.mar-l-5{
    margin-top: 5px;
}
.mar-t-10{
    margin-top:10px;
}
.mar-y-5{
    margin-top:5px;
    margin-bottom: 5px;
}


.txt-white{
    color: white;
}
.hide-scroll{
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scroll::-webkit-scrollbar{
    display: none;
}

.art-card-cont{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    gap: 2px;
    margin-bottom: 5px;
    
}