/*

.container {
    width: 600px;
    position: relative;
    
  }
  
  .trove__mp_img {
    height: 600px;
    width: 600px;
    position: absolute;
    pointer-events: none;
  }
  
  .Swipe-right, .Swipe-Left {
    height: 600px;
    width: 100px;
    position: absolute;
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.33;
    color: black;
  }
  
  .Swipe-right {
    right: 0;
    background-color: green;
  }
  
  .Swipe-Left {
    left: 0;
    background-color: red;
  }
  
  .SongName {
    height: 100px;
    color: black;
    background-color: purple;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .SongDuration {
  color: black;
  width: 100%;
  bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
  


*/




.trove__mp_img{
    height: 600px;
    width: 600px;
    position: absolute;
    pointer-events: none;
    
    
}
.Swipe-right, .Swipe-Left {
    height: 600px;
    width: 100px;
    opacity: 0.33;
    color: black;
    top: 0;
    top: 50%;
    
    
    
}
.Swipe-Left{
    float:right;
    background-color: green;
    
}
.Swipe-right{
    float:left;
    background-color: red;
    
}

.container{
    position:absolute;
    justify-content: center;
    width: 600px;
    
}


.SongName{
  color: darkcyan;
  width: 100%;
  bottom: 0;
  background-color: darkblue;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
    
    
}
.SongDuration{
    height: 150;
    color: black;
    background-color: lightgray;
    
    width: 100%;
}


.show-number{
  text-align: center;
  float:right;

}

