@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.playlist-containter-ver2{
  /* display: flex; */
  justify-content: center;
  margin: auto;
  flex-direction: column;
  margin-bottom: 400px;
}
@media only screen and (max-width: 799px) {
  .profile--body {
    margin-left: 20vmin;
    
  }

  /* HEADER */
  .playlist--header {
    text-align: center;
    padding-top: 6vmin;
    font-size: 3vmin;
    display: flex;
    padding-left: 5vmin;
    margin-bottom: 5vmin;

  }

  .playlist--header > h1 {
    margin-left: 33vw;
  }

  .playlist--back {
    width:10vmin;
    height: 10vmin;
    /* padding-right: 5vmin; */
  }

  .playlist--circle--border {
    width: 3vw;
    height: 3vw;
    /* position: absolute; */
    border-color: #0034C4;
    border-radius: 25vmin;
    border-width: 2vw;
    border-style: solid;
    /* margin-top: 2%; */
    margin-left: 45%;
  
  }

  .playlist--artist--icon > img {
    background-color: transparent;
    max-width: 85%;
    margin-left: 2%;
    margin-top: 8%;
    margin-bottom: -1%;
    border-radius: 20vmin;
  }  
  .bg-fglass--1--playlist{
    background: rgba(20, 16, 58, 0.699);

    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    margin-top: 3vmin;
    border-radius: 15px 15px 0px 0px;
    padding-top: 0.5vmin;
    padding-bottom: 0.5vmin;
    border: 1.5px solid #21212c33;
    box-shadow: #15152456 0px 2px 1px;
}
.bg-fglass--2--playlist{
  background-color: rgba(95, 158, 160, 0);

    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius:0px 0px 15px 15px ;
    padding-top: 0.5vmin;
    padding-bottom: 0.5vmin;
    border-top: 1.5px solid #24242500;
    border-left: 1.5px solid #ffffff1f;
    border-bottom: 1.5px solid #ffffff1f;
    border-right: 1.5px solid #ffffff1f;
}
  /* ALBUM INFO */
  .playlist--info {
    display: flex;
    width: 100%;
    background-color: rgba(255, 166, 0, 0);
    flex-flow: row;
    flex-direction: row;
    padding-left: 13vw;
    padding-right: 13vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    align-items: center;
    gap: 1vmin;
    
  }

  
  .playlist--song--cover {
    border-radius: 1vmin;
    height: 20vmin;
    width: 20vmin;
    background-color: rgba(255, 255, 255, 0.053);
    display: flex;
    position: relative;
    overflow: hidden;
    
  }

  .playlist--song--cover img {
    border-radius: 1vmin;
    width: 100%;
    position: absolute;
    left: 0;
    align-self: center;
  }

  .playlist--stats--info  {
    /* margin-top: 10vmin; */
    /* background-color: brown; */
    overflow: hidden;
    margin-top: 2vmin;
    color: rgba(255, 255, 255, 0.5);
  }

  .playlist--stats--info > h3 {
    font-size: 4vmin;
    color: white;
    margin: 0;
    /* background-color: crimson; */
  }

  .playlist--stats--info > h4 {
    font-weight: 200;
  }

  .playlist--release--info  {
    display: flex;
    background-color: #0034c400;
    align-items: center;
    margin: 0;
    width: fit-content;
    max-width: 100%;
    padding-left: 0.25vw;
    
  }
  .playlist--release--filler--div{
    background-color: white;
    opacity: 0.2;
    width: 2px;
    height: 80%;
    border-radius: 5px;
    color: transparent !important;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
  }
  .playlist--release--info > h5 {

    font-weight: 400;
    margin: 0;
  }

  .playlist--release--info > h6 {
    font-size: 2vmin;
    font-weight: 300;
    margin: 0;
    text-transform: capitalize;
    text-decoration: underline;
    
  }
  .playlist--release--info > h4 {
    font-weight: 400;
    font-size: 1.25vmin;
    margin: 0;
    opacity: 0.8;
  }

  .playlist--songs {
    overflow-x: hidden;
    overflow-y: auto;
    
    padding: 20px;
    
  }
  .playlist--songlist--container{
    display: flex;
    flex-direction: column;
    background-color: #0e092400;
    align-items: center;
    gap: 0.25vw;
    padding-top: 0.1vw;
    padding-bottom: 0.25vw;
  }
  .playlist--song--container{
    background-color: #0e09243a;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    padding-right: 2vw;
    border-radius: 0.5vw;
    border: 1.25px solid #ffffff0a;
  }
  .playlist--song--container > h1{
    background-color: #d6d6ad00;
    display: flex;
    align-items: center;
    width: 2vw;
    height: 3vw;
    margin: auto;
    font-size: large;
    color: white;
    opacity: 0.6;
    justify-content: center;
    /* margin-right: 1.5vw ; */
  }
  .playlist--song {
    background-color: #12164B;
    /* width: 90%; */
    height: 15vmin;
    margin: auto;
    margin-top: -5vmin;
    border-radius: 2vmin;
    margin-left: 20vmin;
    font: 'Poppins' sans-serif;
    color: white;

  }

  .playlist--song:hover {
    transform: scale(1.01); 
    box-shadow: 0 0 11px #0034C4;
  }

  .playlist--song:hover >  .playlist--tiny--cover > #playmask {
    position: absolute;
    display:inline;
    margin-left: -8vmin;
  }

  .playlist--tiny--cover {
    border-radius: 1vmin;
    height: 8vmin;
    width: 8vmin;
    margin-left: 3%;
    margin-top: 10vmin;
    border: 0.15vw solid #ffffffde;
  }

  .playlist--tiny--cover img {
    border-radius: 1vmin;
    height: 8vmin;
    width: 8vmin;
    margin-top: 2vmin;
    display: inline;
  }

  .playlist--tiny--cover > #playmask {
    position: absolute;
    display: none;
  }

  .playlist--song--info {
    margin-left: 25vmin;
    margin-top: -6vmin;
  }

  .playlist--song--info > h5 {
    font-weight: 400;
    font-size: 2vmin;
  }

  .playlist--song--info > h5 > span {
    font-weight: 200;
    font-size: 2vmin;
    color: #878694;
  }

  .playlist--song--info > h6 {
    font-weight: 300;
    color: #878694;
    width: 30vmin;
    font-size: 2vmin;
  }

  .playlist--song--options {
    display: flex;
    margin-left: 105vmin;
    margin-top: -5vmin;
    padding-right: 3vmin;
  }

  #playlist--song--heart, #playlist--song--share, #playlist--song--more {
    height: 4vmin;
    /* width: 20vmin; */
    padding-right: 3vmin;
  }
  .playlist-editBtn--container{
    display: flex;
    padding: 1vw;
    padding-right: 20vw;
  }
  .editbtn--cont{
    background-image: linear-gradient(to left, #8650f4, #6f49e8, #5642dc, #393bd0, #0034c4);
    display: flex;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    border-radius: 1vmin;
    margin:auto;
  }
  .playlist--editbtn {
    display: block; 

    align-items: center;
    appearance: none;
    border-radius: 1vmin;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    background: #12164bd3;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    /* font-family: "Google Sans",Roboto,Arial,sans-serif; */
    font-size: 3vmin;
    font-weight: bold;
    height: 4vmin;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    width: 6vmin;
    overflow: visible;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    margin: 0.25vmin;
    /* margin-right: 3vw; */
    /* margin-left: 3vw; */
    /* margin-top: 4vw; */
    padding-left: 2.5vmin;
    padding-right: 2.5vmin;
    padding-bottom: 1vmin;
    padding-top: 1vmin;
    /* float: right; */
  }
   .playlist--playbtn{
    background-image: linear-gradient(to left, #8650f4, #6f49e8, #5642dc, #393bd0, #0034c4);
    width: 5vw;
    height: 5vw;
    font-size: 4.5vw;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: #ffffffde; 
    border-radius: 50%;
    border: 0.15vw solid #ffffffde;
    /* transition: 0.3s ease-in-out;
    transform: translateX(-2.25vw); */
  }   
  .playlist--playbtn:hover{
    color: #ffffff;
    border: 0.15vw solid #ffffff;
    box-shadow: rgba(255, 255, 255, 0.315) 0 3px 5px -1px;
  }
  .playlist--playbtn:hover >.playIconPlayList {
    text-shadow: rgba(255, 255, 255, 0.315) 0 3px 5px -1px;
  }
   .playIconPlayList{
    padding-left: 0.35vw;
   }
.playPauseQueueBtnCont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-right: 2vw;
  gap: 0.25vw;
}
.playPauseQueueBtnCont > .AddPlaylist_ToQueue{
  /* margin: auto; */
  /* display: flex; */
  position: absolute;
  /* transition: 0.3s ease-in-out;
    transform: translateX(-2.25vw); */
  
}
}
@media only screen and (min-width: 800px) {
  .profile--body {
    margin-left: 20vmin;
    
  }

  /* HEADER */
  .playlist--header {
    text-align: center;
    padding-top: 6vmin;
    font-size: 3vmin;
    display: flex;
    padding-left: 5vmin;
    margin-bottom: 5vmin;

  }

  .playlist--header > h1 {
    margin-left: 33vw;
  }

  .playlist--back {
    width:10vmin;
    height: 10vmin;
    /* padding-right: 5vmin; */
  }

  .playlist--circle--border {
    width: 3vw;
    height: 3vw;
    /* position: absolute; */
    border-color: #0034C4;
    border-radius: 25vmin;
    border-width: 2vw;
    border-style: solid;
    /* margin-top: 2%; */
    margin-left: 45%;
  
  }

  .playlist--artist--icon > img {
    background-color: transparent;
    max-width: 85%;
    margin-left: 2%;
    margin-top: 8%;
    margin-bottom: -1%;
    border-radius: 20vmin;
  }  
  .bg-fglass--1--playlist{
    background: rgba(20, 16, 58, 0.699);

    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    margin-top: 3vmin;
    border-radius: 15px 15px 0px 0px;
    padding-top: 0.5vmin;
    padding-bottom: 0.5vmin;
    border: 1.5px solid #21212c33;
    box-shadow: #15152456 0px 2px 1px;
}
.bg-fglass--2--playlist{
  background-color: rgba(95, 158, 160, 0);

    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius:0px 0px 15px 15px ;
    padding-top: 0.5vmin;
    padding-bottom: 0.5vmin;
    border-top: 1.5px solid #24242500;
    border-left: 1.5px solid #ffffff1f;
    border-bottom: 1.5px solid #ffffff1f;
    border-right: 1.5px solid #ffffff1f;
}
  /* ALBUM INFO */
  .playlist--info {
    display: flex;
    
    background-color: rgba(255, 166, 0, 0);
    flex-flow: row;
    flex-direction: row;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    align-items: center;
    gap: 1vmin;
    
  }

  
  .playlist--song--cover {
    border-radius: 1vmin;
    height: 20vmin;
    width: 20vmin;
    background-color: white;
    display: flex;
    position: relative;
    overflow: hidden;
    
  }

  .playlist--song--cover img {
    border-radius: 1vmin;
    width: 100%;
    position: absolute;
    left: 0;
    align-self: center;
  }

  .playlist--stats--info  {
    /* margin-top: 10vmin; */
    /* background-color: brown; */
    overflow: hidden;
    margin-top: 2vmin;
    color: rgba(255, 255, 255, 0.5);
  }

  .playlist--stats--info > h3 {
    font-size: 4vmin;
    color: white;
    margin: 0;
    /* background-color: crimson; */
  }

  .playlist--stats--info > h4 {
    font-weight: 200;
  }

  .playlist--release--info  {
    display: flex;
    background-color: #0034c400;
    align-items: center;
    margin: 0;
    width: fit-content;
    max-width: 100%;
    padding-left: 0.25vw;
    
  }
  .playlist--release--filler--div{
    background-color: white;
    opacity: 0.2;
    width: 2px;
    height: 80%;
    border-radius: 5px;
    color: transparent !important;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
  }
  .playlist--release--info > h5 {

    font-weight: 400;
    margin: 0;
  }

  .playlist--release--info > h6 {
    font-size: 2vmin;
    font-weight: 300;
    margin: 0;
    text-transform: capitalize;
    text-decoration: underline;
    
  }
  .playlist--release--info > h4 {
    font-weight: 400;
    font-size: 1.25vmin;
    margin: 0;
    opacity: 0.8;
  }

  .playlist--songs {
    overflow-x: hidden;
    overflow-y: auto;
    
    padding: 20px;
    
  }
  .playlist--songlist--container{
    display: flex;
    flex-direction: column;
    background-color: #0e092400;
    align-items: center;
    gap: 0.25vw;
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
  }
  .playlist--song--container{
    background-color: #0e09243a;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    padding-right: 2vw;
    border-radius: 0.5vw;
    border: 1.25px solid #ffffff0a;
  }
  .playlist--song--container > h1{
    background-color: #d6d6ad00;
    display: flex;
    align-items: center;
    width: 2vw;
    height: 3vw;
    margin: auto;
    font-size: x-large;
    color: white;
    opacity: 0.6;
    justify-content: center;
    margin-right: 1.5vw ;
  }
  .playlist--song {
    background-color: #12164B;
    /* width: 90%; */
    height: 12vmin;
    margin: auto;
    margin-top: -5vmin;
    border-radius: 2vmin;
    margin-left: 20vmin;
    font: 'Poppins' sans-serif;
    color: white;

  }

  .playlist--song:hover {
    transform: scale(1.01); 
    box-shadow: 0 0 11px #0034C4;
  }

  .playlist--song:hover >  .playlist--tiny--cover > #playmask {
    position: absolute;
    display:inline;
    margin-left: -8vmin;
  }

  .playlist--tiny--cover {
    border-radius: 1vmin;
    height: 8vmin;
    width: 8vmin;
    margin-left: 3%;
    margin-top: 10vmin;
    border: 0.15vw solid #ffffffde;
  }

  .playlist--tiny--cover img {
    border-radius: 1vmin;
    height: 8vmin;
    width: 8vmin;
    margin-top: 2vmin;
    display: inline;
  }

  .playlist--tiny--cover > #playmask {
    position: absolute;
    display: none;
  }

  .playlist--song--info {
    margin-left: 25vmin;
    margin-top: -6vmin;
  }

  .playlist--song--info > h5 {
    font-weight: 400;
    font-size: 2vmin;
  }

  .playlist--song--info > h5 > span {
    font-weight: 200;
    font-size: 2vmin;
    color: #878694;
  }

  .playlist--song--info > h6 {
    font-weight: 300;
    color: #878694;
    width: 30vmin;
    font-size: 2vmin;
  }

  .playlist--song--options {
    display: flex;
    margin-left: 105vmin;
    margin-top: -5vmin;
    padding-right: 3vmin;
  }

  #playlist--song--heart, #playlist--song--share, #playlist--song--more {
    height: 4vmin;
    /* width: 20vmin; */
    padding-right: 3vmin;
  }
  .playlist-editBtn--container{
    display: flex;
    padding: 1vw;
    padding-right: 20vw;
  }
  .editbtn--cont{
    background-image: linear-gradient(to left, #8650f4, #6f49e8, #5642dc, #393bd0, #0034c4);
    display: flex;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    border-radius: 1vmin;
    margin:auto;
  }
  .playlist--editbtn {
    display: block; 

    align-items: center;
    appearance: none;
    border-radius: 1vmin;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    background: #12164bd3;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    /* font-family: "Google Sans",Roboto,Arial,sans-serif; */
    font-size: 3vmin;
    font-weight: bold;
    height: 4vmin;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    width: 6vmin;
    overflow: visible;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    margin: 0.25vmin;
    /* margin-right: 3vw; */
    /* margin-left: 3vw; */
    /* margin-top: 4vw; */
    padding-left: 2.5vmin;
    padding-right: 2.5vmin;
    padding-bottom: 1vmin;
    padding-top: 1vmin;
    /* float: right; */
  }
   .playlist--playbtn{
    background-image: linear-gradient(to left, #8650f4, #6f49e8, #5642dc, #393bd0, #0034c4);
    width: 5vw;
    height: 5vw;
    font-size: 4.5vw;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: #ffffffde; 
    border-radius: 50%;
    border: 0.15vw solid #ffffffde;
    /* transition: 0.3s ease-in-out;
    transform: translateX(-2.25vw); */
  }   
  .playlist--playbtn:hover{
    color: #ffffff;
    border: 0.15vw solid #ffffff;
    box-shadow: rgba(255, 255, 255, 0.315) 0 3px 5px -1px;
  }
  .playlist--playbtn:hover >.playIconPlayList {
    text-shadow: rgba(255, 255, 255, 0.315) 0 3px 5px -1px;
  }
   .playIconPlayList{
    padding-left: 0.35vw;
   }
.playPauseQueueBtnCont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-right: 2vw;
  gap: 0.25vw;
}
.playPauseQueueBtnCont > .AddPlaylist_ToQueue{
  /* margin: auto; */
  /* display: flex; */
  position: absolute;
  /* transition: 0.3s ease-in-out;
    transform: translateX(-2.25vw); */
  
}
}
/* DESKTOP */
/* @media only screen and (min-width: 769px) { */

