.Artistpage-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
    /* background-color: rgb(56, 58, 118); */
    height: fit-content;
    /* align-items: center; */
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
    
    
}
.Artistpage-account-splitter{
    width: 80%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.34);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.8px;
    padding: 0;

}
.Artistpage-txt-container{
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: wrap;
    height: 60px;
    /* background-color: cyan; */
    min-width: 60%;
    /* max-width: 80%; */
    align-items: center;
    display: flex;
    color: white;
    margin-left: 50px;
}

.Artistpage-txt-container > h1 {
    margin-left: 20px;
    font-weight: 600;
    
}

.Artistpage-txt-container{
    font-size: medium;

}

@media screen and (max-width: 370px){
.Artistpage-txt-container{
    font-size: large;
}
}
@media screen and (min-width: 800px){
    .Artistpage-txt-container{
        font-size: xx-large !important;
    }
}
.Artistpage-txt-container{
    margin-left: 3px ;

}
.text{
    color: #878694;
    text-decoration: none;
    
}

.Artistpage-pfp_name_follower_bio_cont{
    display: flex;
    flex-direction: column;
    width: inherit;
    justify-content: center;  
    padding: 1vw;
    background-color: rgba(17, 4, 52, 0.758);
    align-content: center;
    margin: auto;
    position: fixed;
    z-index: 70;

}
.Artistpage-borderuserimg{
    background: linear-gradient(to top, #8650F4, #0034C4);
    border-radius: 25vmin;
    /* padding:5px; */
    filter: none;
    width: 150px;
    height: 150px;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Artistpage-artist-profile-bio-cont{
    width: 100%;
    height: 80px;

}
.Artistpage-artist-profile-bio{
    width: 100%;
    height:30px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Artistpage-user-img{
    border-radius: 25vmin;
    margin: 5px;
    width: 130px;
    height: 130px;
    overflow: hidden;
    background-color: rgba(49, 48, 49, 0.315);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Artistpage-user-img > img {
 position: absolute;
 width: 100%;
 scale: 1.8;
}
.Artistpage-name_follower_cont{
    display: flex;
    /* background-color: palegoldenrod; */
    height: fit-content;
    margin-left: 5px;
    flex-direction: column;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    flex-grow: 1; 
    min-width: 170px;
    max-width: 100%;   
}
.Artistpage-follower_cont{
    /* background-color: blueviolet; */
    height: 20px;
    display: flex;
    /* align-items: center; */
    margin-left: 25px;
    margin-top: 2%;
    /* justify-content: space-around; */

    
}

.Artistpage-follower_cont:hover {
    text-decoration: underline;
}

.Artistpage-follower_cont > div{
    display: flex;
    /* align-content: center; */
    min-width: 100px;
    max-width: inherit;
    /* background-color: aquamarine; */
    /* justify-content: center; */
    height: 15px;
    gap: 5%;
    margin-left: 15px;
    


}
.Artistpage-follower_cont > div > h1{
    font-size: 15px;
    width: fit-content;
    /* background-color: darkblue; */
    height: fit-content;
    margin: 0;
    color: white;

}
.Artistpage-follower_cont > div > h2{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -2rem; 
    background-image: linear-gradient(
        to left,
        #8650f4,
        #6f49e8,
        #5642dc,
        #393bd0,
        #0034c4
      );
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-text-fill-color: transparent;


}
.Artistpage-follower_cont > button{
    font-size: 15px;
    font-weight: bold;
    height: fit-content;
    padding-left: 3vmin;
    padding-right: 3vmin;
    padding-top: 0.5vmin;
    padding-bottom: 0.5vmin;
    margin-top: -10px;
    border-radius: 1vmin;
    color: white;
    background: linear-gradient(to top, #8650F4, #0034C4);
    border-style: inset;
    /* border:rgba(255, 255, 255, 0.99) solid 1.5px; */

}

.Artistpage-artist-showcase{
    display: flex;
    justify-content: left;
    margin-top: 0;
    margin-bottom: 0;
    /* background-color: #412e67; */
    width: inherit;
    position: relative;
   flex-direction: column;
   gap: 0;
}

.Artistpage-artist-showcase .gap-4  {
    margin-left: 25px;
    overflow: scroll;
    width: 95%;

} 

.Artistpage-artist-showcase h1 {
    top: 0;
    left: 0;
    font-size: 30px;
    color: #ffffff;
    margin-left: 10px;
    font-weight: 600;
}

.Artistpage-artist-showcase-lg{
    display: flex;
    justify-content: left;
    margin-top: 0;
    margin-bottom: 0;
    /* background-color: #412e67; */
    width: inherit;
    position: relative;
    /* height: 200px; */
    justify-content: space-around;
    flex-direction: column;
}
.Artistpage-account-showcase-lg > h1{
    position: absolute;
    top: 0;
    left: 0;
    font-size: large;
    color: #ffffff;
    margin-left: 10px;
}

.Artistpage-mar-t h1 {
    /* position: absolute; */
    top: 0;
    left: 0;
    font-size: 30px;
    color: #ffffff;
    margin-left: 10px;
    font-weight: 600;
}

.Artistpage-account-showcase > h1{
    position: absolute;
    top: 0;
    left: 0;
    font-size: large;
    color: #ffffff;
    margin-left: 10px;
}


.CardCont.artistprofile--songs{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: scroll;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    justify-items: left;
    justify-content: space-between;


    
}

.artistprofile--songs {
    margin-left: 20px;


}

.artistprofile--songs .song-info-div {
    width: 100%;
    
}

.artistprofile--songs .song-info-div:hover { 
    background-color: rgba(0, 0, 0, 0.199);
    
}

.artistprofile--songs .song-info-div .addQueueCont {
    margin-right: 60px;
}

.Artistpage-artist-card-cont{
    display:flex;
    overflow: scroll;
    flex-flow: row;
    gap:10px;
    position: relative;
    justify-content: flex-start;
    
}
.Artistpage-test-container{
    display: flex;
    margin-left: 20px;
    /* align-items: center;
    justify-content: center; */

}
.Artistpage-artist-card-showcase{
    display: flex;
    flex-direction: row;
}
.Artistpage-mar-t{
    margin-top: 200px;
}
.topSongCardContCont{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
    margin-right: 20px;
}
.topSongCardCont{
    display: flex;
    background-color: rgba(0, 0, 0, 0.199);
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    padding: 2px;
    border-radius: 5px;
    opacity: 0.75;
    transition: 0.4s ease-in-out;
    transition: width 0.001 ease;
    color: white;

}
.topSongCardCont:hover{
    scale: 1.01;
    /* transform: translateX(10px); */
    width: 100%;
    /* margin-top: 2%; */
    /* margin-bottom: 2%; */
    z-index: 10;
    box-shadow: #c677eb27 0px 3px 4px;
    opacity: 1;
}
.topSongCardCont:hover > .topSongimgCont {
    margin-left: 40px;
    scale: 1.01;
    box-shadow: #c677eb3b 0px 3px 4px;
}
.topSongCardCont:hover > .topSongTxtCont > .topSongTitleCont {
    color: white;

}
.topSongimgCont{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgba(23, 15, 51, 0.829);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    order: 2;
    overflow: hidden;
    margin-left: 50px;
    transition: 0.4s ease-in-out;
    
}
.topSongimgCont > img{
    position: absolute;
    width: 100%;
    left: 0;
    scale: 1.1;

}
.topSongIndexCont{
    position: absolute;
    left: 0;
    font-size: xx-large;
    color: white;
    width: 20px;
    background-color: rgba(210, 180, 140, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}
.topSongTxtCont{
    display: flex;
    width: auto;
    align-items: center;
    flex-direction: column;
    order: 4;
    padding-left: 10px;
    cursor: default;

}
.topSongTitleCont{
    font-size: 20px;

}
.queueBtnBox{
    position: absolute;
    right: 0;
    margin-right: 2vmin;

}