@import url("https://fonuploadmusic-ts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #0034c4;
  --textColor: #eee;
}

.trovemusic-span {
  font-weight: 900;
  font-style: italic;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.forartists-span {
  font-weight: 100;
  font-size:small;
  /* padding-left: 1vmin; */
}

.active-tab {
  /* opacity: 0.6; */
  text-decoration: none;
  font-weight: bold;
  border-bottom: solid 1px #8750f4e6;

}

.tab {
  text-decoration: none;
  color: rgb(255, 255, 255);
  
}

.header-contents {
  position: relative;
}

.content {
  display: none;
  position: relative;
  
}

.active-content {
  display: block;
  margin: auto;
}

.home-contain {
  margin: auto;
  width: 80%;
}
.about-contain {
  margin: auto;
  width: 80%;
}
.discovery-contain {
  margin: auto;
  width: 80%;
}
.contact-contain {
  margin: auto;
  width: 80%;
}
.home {
  padding-top: 50px;
  /* background-color: rgb(36, 44, 44); */
  padding-bottom: 50px;
}

.help {
  background-color: rgb(37, 36, 44);
  padding-bottom: 50px;
  padding-top: 50px;
}

.discovery {
  background-color: blue;
  padding-bottom: 50px;
  padding-top: 50px;
}

.uploadmusic {
  /* background-color: gold; */
  padding-bottom: 50px;
  padding-top: 50px;
}

.provider {
  background-color: gold;
  padding-bottom: 50px;
  padding-top: 50px;
}

.home-color {
  background-color: rgb(36, 44, 44);
}

.help-color {
  background-color: rgb(37, 36, 44);
}

.discovery-color {
  background-color: blue;
}

.uploadmusic-color {
  /* background-color: gold; */
}
.provider-color {
  /* background-color: gold; */
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vw;
  padding: 0 2rem;
  /* background-color: rgb(36, 44, 44); */
  /* background-color: black; */
  color: var(--textColor);
  /* margin-bottom: 20vmin; */
  margin-bottom: 5vmin;
  
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

.nav-brand {
  text-decoration: none;
  color: white;

  
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;

}

header div,
nav {
  display: flex;
  align-items: center;
  z-index: 200;
}

#dropdown-basic-button {
    background-image: linear-gradient(
      to left,
      #8650f4,
      #6f49e8,
      #5642dc,
      #393bd0,
      #0034c4
    );
    color: white;
    border: none;
}

.artist--waves {
  object-fit: cover;
  width: 100vw;
  height: 40%;
  position: fixed;
  /* opacity: 10%; */
  object-position: top;
  mix-blend-mode: soft-light;
  margin-left: -5vmin;

  
}

.artist--small {
  display: none;
  visibility: hidden;

}

.artist--small > img {
  display: none;
  visibility: hidden;
}

.artist--logout {
  background-image: none;
}


@media screen and (min-width: 800px) {
  .vl {
    border-left: 1px solid white;
    height: max-content;
  }
}

@media only screen and (max-width: 800px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    right: 0;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    gap: 1.5rem;
    background-color: black;
    transition: 1s;
    z-index: 16;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
  .signup-div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }


}
