.myTrvcontainer{
    display: flex;
    flex-direction: column;
    gap: 2px;
    /* background-color: rgb(56, 58, 118); */
    height: fit-content;
    align-items: center;
    overflow: hidden;
    width: 100%;
    
    
}
.mytrove-splitter{
    width: 90%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.34);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0.8px;
    padding: 0;
    margin-right: auto;
    margin-left: 1%;
}
.txt-container{
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: wrap;
    height: 60px;
    /* background-color: cyan; */
    min-width: 60%;
    max-width: 80%;
    align-items: center;
    display: flex;
    color: white;

}
@media screen and (min-width: 300px ){
.txt-container{
    font-size: medium;
}
}
@media screen and (max-width: 370px){
.txt-container{
    font-size: large;
}
}
@media screen and (min-width: 800px){
    .CardCont{
        transition: 0.3s;
        display: flex;
        margin-top: 30px;
        margin-bottom: 10px;
        overflow: scroll;
        padding-left: 5px;
        padding-right: 5px; 
    }
}
.txt-container{
    margin-left: 3px ;
}
.text{
    color: #878694;
    text-decoration: none;
}

.pfp_name_follower_cont{
    display: flex;
    width: inherit;
    justify-content: center;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;

}
.borderuserimg{
    background: linear-gradient(to top, #8650F4, #0034C4);
    border-radius: 50%;
    padding:5px;
    filter: none;
    width: 100px;
    height: 100px;
    flex: none;
}
.user-img{
    border-radius: 50%;
    width: 96px;
}
.name_follower_cont{
    display: flex;
    /* background-color: palegoldenrod; */
    height: fit-content;
    margin-left: 5px;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1; 
    min-width: 170px;
    max-width: 500px;   
}
.follower_cont{
    /* background-color: blueviolet; */
    height: 20px;
    display: flex;
    align-items: center;
    margin-left: 3px;
    justify-content: space-around;

    
}
.follower_cont > div{
    display: flex;
    align-content: center;
    min-width: 100px;
    max-width: inherit;
    /* background-color: aquamarine; */
    justify-content: center;
    height: 15px;
    gap: 5%;
    


}
.follower_cont > div > h1{
    font-size: small;
    width: fit-content;
    /* background-color: darkblue; */
    height: fit-content;
    margin: 0;
    color: rgba(255, 255, 255, 0.722);

}
.follower_cont > div > h2{
    font-size: small;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.722);


}
.follower_cont > button{
    font-size: x-small;
    height: fit-content;
    padding: 3px 6px 3px 6px ;
    border-radius: 4px;
    color: white;
    background: linear-gradient(to top, #8650F4, #0034C4);
    border-style: inset;
    border:rgba(255, 255, 255, 0.99) solid 1.5px;

}

.account-showcase{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    /* background-color: #412e67; */
    width: inherit;
    position: relative;
    flex-direction: column;
}

.account-showcase h1 {
    top: 0;
    left: 0;
    font-size: xx-large;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 10px;
}

.account-showcase-lg{
    display: flex;
    justify-content: left;
    margin-top: 0;
    margin-bottom: 0;
    /* background-color: #412e67; */
    width: inherit;
    position: relative;
    height: 200px;
    justify-content: space-around;
}
.account-showcase-lg > h1{
    position: absolute;
    top: 0;
    left: 0;
    font-size: large;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 10px;
}
.showcase-title-cont > h1{
    /* position: absolute; */
    top: 0;
    left: 0;
    font-size: xx-large;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 10px;
    
}
.account-showcase > .account-splitter{
    margin-left: 10vw;
}
.CardCont{
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    overflow: scroll;
    padding-left: 5px;
    padding-right: 5px;

    
}
.showcase-items-cont{
    display: flex;
    flex-direction: row;
    overflow:scroll;
    gap: 5px;
    align-items: center;
    width: 2200px;
}
.showcase-title-cont{
    width: 100%;

}
.newPlaylistBtn {
    display: inline-block;
    /* flex-direction: column; */
    background-color: #08265e23;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    opacity: 0.5;
    border-radius: 15px;
    border: solid 2px rgba(255, 255, 255, 0.089);
    /* max-width: 80px; */
  
    
}
.newPlaylistBtn > .newPlaylistBtnText{
    opacity: 0.99 !important;

}

.newPlaylistPlusBtn{
    background-color: #8650F4;
    margin: auto;
    border-radius: 50%;
    color: white;
    font-size: 25px;

    width: 30px;
    height: 30px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
    margin-bottom: 2px;
    
}

.newPlaylistBtn:hover{
    opacity: 0.9;
}

.TPlikedSongs{
    border: solid 4px rgba(255, 255, 255, 0.089);
    border-radius: 15px;
    float:left;
    padding: 10px;
    max-width: 400px;
    margin-bottom: 80px;

}

.TPdislikedSongs{
    border: solid 4px rgba(255, 255, 255, 0.089);
    border-radius: 15px;
    float:left;
    padding: 10px;
    max-width: 400px; 
}

.RemoveLike{
    color: red;
    float: right;
    font-size: 25px;


}



.LikeTable, .RemoveLikeTable{

    /*
    border is temp just so i can see the full table size
    
    border:1px solid yellow;
    */

    
    width: 400px;
    height: 40px;
}

.LikeTable{
    max-width: 370px
}

.RemoveLikeTable{
    max-width: 30px

}
.topGenreCont{
display: inline-flex;
width: 100%;
align-items: center;
justify-content: space-around;
padding-bottom: 10px;
padding-top: 10px;
margin-left: 20px;
margin-right: 20px;
}
.topGenreCont > div{
    text-align: center;
    scale: 1;
}
topGenreCont >.topGenre1{

}
topGenreCont > .topGenre2{

}
topGenreCont > .topGenre3{
/* transform: translateX(-80px); */
}