.song-info-div {
    background-color: #aa8ce600;
    color: white;
    width: 45vw;
    height: 5vw;
    display: flex;
    flex-flow: row;
    padding: 5px;
    align-items: center;
  }
.song-img-div-ver2{
    
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 0.5vw;
    overflow: hidden;
    display: block;
    position: relative;
    /* background-color: cyan; */
}
.song-img-div-ver2 > img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: scale(1.1);
}
.titlesongcard{
    margin-top: auto;
    cursor: default;
}
.artistsongcard{
    margin-bottom: auto;
}
.song-text-div{
    display: flex;
    flex-direction: column;
    background-color: rgba(95, 158, 160, 0);
    margin-left: 5px;
    width: 30vw;
    border-left: solid 1px rgba(255, 255, 255, 0.437);
    padding-left: 1vw;
    
}
.song-art-link{
    text-decoration: none;
    color: white;
    opacity: 0.7;
}

.song-art-link:hover{
    opacity: 1;
    text-decoration: underline;
}
.artistSearchGenrediv{
    padding: 3px;
    background-color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;

}

.genreCont{
    padding:2px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #12164B;
    color: rgba(255, 255, 255, 0.716);
    border-radius: 5px;
    width: 50px;
    justify-content: center;;
    /* 
    justify-self: center; */
    margin-left: 5px;
    margin-right: auto; 
    box-shadow: rgba(0, 0, 0, 0.382) 0px 1px 2px;
    /* align-content: center; */

    display: flex;
    text-align: center;
    align-items: center;
   
    margin-top: auto;
    margin-bottom: auto;
    cursor: default;
    text-transform: capitalize;

}

.durationCont{
    opacity: 0.7;
    font-size: 1vw;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #12164b63;
    border-radius: 5px;
}
.durationCont > h4{
    font-size: small;
}