.trovelinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Nav{
display: grid;
grid-template-columns: repeat(4,auto);
width: 100%;
position: fixed;
bottom: 0;
height: 60px;   /* Height of the footer */
background-color: #090C39;
margin-left: auto;
   
}

.trove-nav-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
}

.trove-nav-icon:hover{
    background-color: #1a2248;
}

.trove-links{
    text-decoration: none;
    color: white;
    
}

