.translate-down {

    transform: translateY(200px);
    transition: all 0.5s ease-in-out;
}

.progress-time-container {

    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: row;
    bottom: 0;
    width: 98.25%;
    background-color: rgba(255, 255, 255, 0);
    font-size: medium;
    margin-top: 1vw;
    gap: 1vw;
    z-index: 99;

}


@media screen and (min-width:800px) {
    .musicbar {
        width: 90%;
        margin: auto;
        position: relative;
        z-index: 15;
        padding: 2px;
        z-index: 999;

    }

    .musicbar-wrap {
        width: inherit;
        margin: auto;
        bottom: 1%;
        position: fixed;
        height: 90px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        transition: all 0.5s ease-in-out;
    }

    .musicbar-items {
        display: flex;
        flex-direction: row;
    }

    .song-buttons {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        align-items: center
    }

    .ord1 {

        order: 1;
    }

    .ord3 {

        order: 3;
    }

    .progress-time-time-container {
        padding: 2px;
        padding-left: 6px;
        padding-right: 6px;

        color: rgba(255, 255, 255, 0.716);
        border-radius: 5px;
        width: 45px;
        justify-content: center;
        ;
        /* 
        justify-self: center; */
        margin-left: 5px;
        margin-right: auto;
        /* box-shadow: rgba(0, 0, 0, 0.382) 0px 1px 2px; */
        /* align-content: center; */
        display: flex;
        text-align: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        cursor: default;
        text-transform: capitalize;
        font-size: x-small;
        text-decoration: none;
        pointer-events: none;
    }


    .progressbarContainer-ver2 {
        padding: 0;
        margin: 0;
        display: inline-block;
        /* display:  none; */
        position: relative;
        order: 2 !important;
        flex-grow: 2;


    }

    .tooltip-style {
        opacity: 1 !important;
        width: 140px;
        display: flex;
        font-size: 10px;
        padding: 2px;
    }


    .like-btn {
        display: flex;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 5px;
        width: fit-content;
        align-items: center;
        display: flex;
        justify-content: center;
        order: 2;
    }

    .like-btn :hover {
        color: white;
        box-shadow: white;
    }

    .player-info-container-ver2 {
        height: 60px;
        align-items: center;
        justify-items: center;
        margin: 1px;
        display: flex;
        flex-direction: row;
        padding-right: 4px;
        order: 1;
        position: relative;
    }

    .song-txt-container-container {
        max-height: 90%;
        min-width: 28%;
        max-width: 50px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        position: relative;
        order: 3;

    }

    .song-info-txt-container {

        display: flex;
        flex-grow: 3;
        flex-direction: column;
        justify-items: center;
        text-align: left;
        overflow: hidden;
        padding-left: 1px;
        margin: 2px;
    }

    .explicit-containter {
        display: flex;
        align-self: center;
    }

    .song-txt {
        color: whitesmoke;
        text-overflow: ellipsis;
        font-size: small;
        overflow: hidden;

    }

    .artist-txt {
        color: rgb(145, 144, 144);
        text-overflow: ellipsis;
        font-size: x-small;
        overflow: hidden;
        padding-left: 2px;
        width: fit-content;
    }

    .song-img {
        width: 60px;
        height: 60px;
        margin: 1px;
        display: flex;
        align-items: center;
        position: relative;
        order: 1;

    }

    .song-img>img {
        border-radius: 4px;
    }

    .control-container {

        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        width: fit-content;
        padding: 0;
        position: absolute;

        gap: 5px;
        top: 45%;
        /* position the top  edge of the element at the middle of the parent */
        left: 50.25%;
        /* position the left edge of the element at the middle of the parent */

        transform: translate(-50%, -50%);


    }

    .control-container>button {
        padding: 0;
        margin: auto;
        width: fit-content;
        color: white;

        align-items: center;
        display: flex;
        justify-content: center;
        font-size: xx-large;
    }

    .control-container>.playbtnstyle {
        height: 50px;
        width: 50px;
        background-image: linear-gradient(to top, #5725d5, #8650F4);
        object-fit: fill;
        border-radius: 50%;
        font-size: 70px;
        transform: none;
        border: 1.5px solid rgba(255, 255, 255, 0.753);


        /* background: linear-gradient(-45deg, #e39800, #8650F4, #2a4ff6, #0034C4); */
        background-size: 400% 400%;
        /* animation: gradient 20s ease infinite; */
        /* https://codepen.io/P1N2O/pen/pyBNzX */
        transition: 0.15s;

    }

    .control-container>.playbtnstyle:active {
        scale: 0.90;
        transition: 0.15s;
        box-shadow: #dbdadf74 0px 1px 2px;
    }
    .rwBtn,
    .ffBtn{
        transition: 0.10s;
    }
    .rwBtn:active{
        transform: translateX( -5px);
    }
    .ffBtn:active{
        transform: translateX( 5px);
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .control-container>.playbtnstyle>.BsPlayStyleLg {
        margin-left: 5px;
    }

    .bg1 {
        background-color: rgba(128, 255, 0, 0.757);
        position: relative;
    }

    .bg2 {
        background-color: rgba(255, 127, 80, 0.778);
        position: relative;
    }

    .bg3 {
        background-color: rgba(220, 20, 60, 0.741);
    }

    .bg4 {
        background-color: rgba(139, 0, 139, 0.712);
    }

    .explicit-containter {
        position: absolute;
        top: 0%;
        padding: 0px;
        opacity: 50%;
        margin: 2px;
    }

    .tooltip {
        position: relative;
        /* making the .tooltip span a container for the tooltip text */
        /* little indicater to indicate it's hoverable */
    }

    .tooltip:before {
        content: attr(data-text);
        /* here's the magic */
        position: absolute;

        /* vertically center */
        top: 50%;
        transform: translateY(-50%);

        /* move to right */
        left: 100%;
        margin-left: 15px;
        /* and add a small left margin */

        /* basic styles */
        width: 200px;
        padding: 10px;
        border-radius: 10px;
        background: #000;
        color: #fff;
        text-align: center;

        display: none;
        /* hide by default */
    }

    .tooltip:hover:before {
        display: block;
    }

    .progressBar {
        display: none;
        appearance: none;
        border-radius: 10px;
        width: 70%;
        outline: none;
        position: fixed;
        /* transform: translate(0px, -40%); */
        margin-left: 10%;
    }

    /*safari*/
    .progressBar::-webkit-slider-runnable-track {
        background-color: rgba(255, 255, 255, 0.527);
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: 5px;
        outline: none;
    }

    /*chrome & safari*/
    .progressBar::before {
        content: '';
        height: 5px;
        width: var(--seek-before-width);
        background-image: linear-gradient(to right, #0034c4, #8650F4);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        /* border-radius: 10px; */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        margin-top: 3px;
    }

    .progressBar::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: none;
        background-color: #8650F4;
        cursor: pointer;
        position: relative;
        margin: -3px -1px 0 0;
        z-index: 3;
        box-sizing: border-box;
        box-shadow: -1px 0px 5px rgba(3, 3, 59, 0.363);

    }

    .progressBar:active::-webkit-slider-thumb {
        transform: scale(1.6);
        transition: ease-in-out .05s;
        border: 1px solid whitesmoke;
        border-radius: 50%;
        box-shadow: rgba(255, 255, 255, 0.671);
        background-color: #8650F4;
    }

    /* firefox */
    .progressBar::-moz-range-track {
        background: rgba(19, 13, 103, 0.74);
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: 5px;
        outline: none;
        z-index: 1;
    }

    .progressBar::-moz-focus-outer {
        border: 0;
    }

    .progressBar::-moz-range-progress {
        background-image: linear-gradient(to right, #0034c4, #8650F4);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 5px;
    }

    .progressBar::-moz-range-thumb {
        height: 7px;
        width: 7px;
        border-radius: 50%;
        border: transparent;
        background-color: #8650F4;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        box-shadow: -1px 0px 5px #8750f43b;
    }

    .progressBar:active::-moz-range-thumb {
        transform: scale(1.6);
        transition: ease-in-out .05s;
        border: 1px solid whitesmoke;
        border-radius: 50%;
        box-shadow: rgba(255, 255, 255, 0.671);
    }



    .fillerDivPlayer {
        margin: auto;
        background: #0034c400;
        z-index: -1;
        flex-grow: 1;
        order: 4;
    }

    .otherItemBtnContainer {
        order: 4;
        /* background-color: violet; */
        color: white;
        display: inline-flex;


    }

    .hiddenBtn {
        display: none;
    }

    .loopBtn {
        font-size: large;
        margin-right: 15px;
        opacity: 0.8;

    }

    .looplvl1 {
        color: white !important;
        opacity: 0.6;
    }

    .looplvl2 {
        color: #8650F4 !important;
        opacity: 0.9;
    }

    .looplvl3 {
        color: #5725d5 !important;
        opacity: 0.9;

    }

    .fcBtn {
        color: rgb(255, 255, 255);

        margin: 0.5vw;
        font-size: large;
        /* background-color: #a37df0; */
        /* position: absolute; */
        right: 0;
        /* margin-right: 30px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        border: #a37df072 2px solid;
        padding-left: 5px;
        border-radius: 5px;

    }

    .fcBtn>.queueMusicIcon {
        margin: 3px;
        font-size: x-large;

    }



.volumeContainter-ver2 {
    justify-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* position: absolute; */
    /* right: 0; */
    margin-top: 22px;
    align-self: center;
    /* background-color: aqua; */
    /* margin-right: 45px; */
    padding-right: 45px;    
    padding-top: 1px;
    font-size: large;
    z-index: 7;
    width: 65px;
    margin: auto;
    /* 
    margin-top: 300px; */
    
}

.volumeContainter>input {
    width: 60px;
    height: 5px;
}
.extraItemsCont{
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    flex-flow: row;
    /* background-color: teal; */
    position: fixed;
        /* margin-bottom: 150px; */
        margin-right: 5%;
        right: 0;
        padding: 5px;
        padding-left: 5px;
        border-radius: 5px;
        gap: 5px;
        /* width: 150px; */
        align-items: center;

}
}





























@media screen and (max-width:799px) {
    .musicbar {
        margin-top: 10vh;
        width: 96%;
        margin: auto;
        /* background: #12164B; */
        /* background-color: rgba(255, 0, 0, 0.086); */
        border-radius: 0px 0px 8px 8px;
        /* overflow: hidden;  */
        transition: 0.5s;
        z-index: 999;

    }

    .musicbar-wrap {
        width: inherit;
        margin: auto;
        bottom: 1%;
        position: fixed;
        /* height: 90px; */
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        transition: all 0.5s ease-in-out;


        /* width: inherit; */
        /* margin: auto; */
        bottom: 80px;
        /* position: absolute; */
        height: 80px;
        border-radius: 0px 0px 12px 12px;

    }

    .progressbarContainer-ver2 {
        padding: 0;
        margin: 0;
        display: inline-block;
        /* display:  none; */
        position: relative;
        order: 1 !important;
        flex-grow: 2;
        /* background-color: red; */
        transform: translate(-4px, -68px);

    }

    .player-info-container-ver2 {
        height: 60px;
        align-items: center;
        justify-items: center;
        margin: 1px;
        display: flex;
        flex-direction: row;
        padding-right: 4px;
        order: 2 !important;
        position: relative;
        /* background-color: rgb(216, 79, 79); */
    }

    .musicbar-items {
        display: flex;
        flex-direction: row;

    }

    .song-buttons {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        align-items: center
    }

    .progressbarContainer {
        padding: 0;
        margin: 0;
        display: block;
        position: relative;

    }

    .tooltip-style {
        opacity: 1 !important;
        width: 140px;
        display: flex;
        font-size: 10px;
        padding: 2px;


    }

    .player-container {
        display: flex;
        flex-direction: column;
        position: relative;

    }

    .like-btn {
        display: flex;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        padding: 0;
        /* margin: auto; */
        margin: 10px;
        width: fit-content;
        align-items: center;
        display: flex;
        justify-content: center;
        order: 2;
    }

    .like-btn :hover {
        color: white;
        box-shadow: white;
    }

    .progress-time-time-container {
        display: none;
    }

    .player-info-container {
        height: 80px;
        align-items: center;
        justify-items: center;
        margin: 1px;
        display: flex;
        flex-direction: row;
        padding-right: 4px;
    }

    .song-txt-container-container {
        max-height: 90%;
        min-width: 45%;
        max-width: 50px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        position: relative;
        order: 3;

    }

    .song-info-txt-container {

        display: flex;
        flex-grow: 3;
        flex-direction: column;
        justify-items: center;
        text-align: left;
        overflow: hidden;
        padding-left: 1px;
        margin: 2px;
    }

    .explicit-containter {
        display: flex;
        align-self: center;
    }

    .song-txt {
        color: whitesmoke;
        text-overflow: ellipsis;
        font-size: small;
        overflow: hidden;

    }

    .artist-txt {
        color: rgb(145, 144, 144);
        text-overflow: ellipsis;
        font-size: x-small;
        overflow: hidden;
        padding-left: 2px;
    }

    .song-img {
        width: 60px;
        height: 60px;
        margin: 1px;
        display: flex;
        align-items: center;
        position: relative;
        order: 1;

    }

    .song-img>img {
        border-radius: 4px;
    }

    .control-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        width: fit-content;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0;
        order: 5;
        position: absolute;
        right: 0;

    }

    .control-container>button {
        padding: 0;
        margin: auto;
        width: fit-content;
        color: white;
        height: 20px;
        width: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: x-large;
    }

    .bg1 {
        background-color: rgba(128, 255, 0, 0.757);
        position: relative;
    }

    .bg2 {
        background-color: rgba(255, 127, 80, 0.778);
        position: relative;
    }

    .bg3 {
        background-color: rgba(220, 20, 60, 0.741);
    }

    .bg4 {
        background-color: rgba(139, 0, 139, 0.712);
    }

    .explicit-containter {
        position: absolute;
        top: 0%;
        padding: 0px;
        opacity: 50%;
        margin: 2px;
    }

    .explicitActions {}

    .explicitActions:hover {}

    .tooltip {
        position: relative;
        /* making the .tooltip span a container for the tooltip text */
        /* little indicater to indicate it's hoverable */
    }

    .tooltip:before {
        content: attr(data-text);
        /* here's the magic */
        position: absolute;

        /* vertically center */
        top: 50%;
        transform: translateY(-50%);

        /* move to right */
        left: 100%;
        margin-left: 15px;
        /* and add a small left margin */

        /* basic styles */
        width: 200px;
        padding: 10px;
        border-radius: 10px;
        background: #000;
        color: #fff;
        text-align: center;

        display: none;
        /* hide by default */
    }

    .tooltip:hover:before {
        display: block;
    }


    .progressBar {
        appearance: none;
        border-radius: 10px;
        width: 96%;
        outline: none;
        position: fixed;
        transform: translate(0px, -40%);

    }

    /*safari*/
    .progressBar::-webkit-slider-runnable-track {
        background-color: rgba(255, 255, 255, 0.527);
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: 5px;
        outline: none;
    }

    /*chrome & safari*/
    .progressBar::before {
        content: '';
        height: 5px;
        width: var(--seek-before-width);
        background-image: linear-gradient(to right, #0034c4, #8650F4);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        /* border-radius: 10px; */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        transition: 90ms ease;
        margin-top: 3px;
    }

    .progressBar::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        border: none;
        background-color: #8650F4;
        cursor: pointer;
        position: relative;
        margin: -1px 0 0 0;
        z-index: 3;
        box-sizing: border-box;
        box-shadow: -1px 0px 5px rgba(3, 3, 59, 0.363);

    }

    .progressBar:active::-webkit-slider-thumb {
        transform: scale(1.6);
        transition: ease-in-out .05s;
        border: 1px solid whitesmoke;
        border-radius: 50%;
        box-shadow: rgba(255, 255, 255, 0.671);
        background-color: #8650F4;
    }

    /* firefox */
    .progressBar::-moz-range-track {
        background: rgba(19, 13, 103, 0.74);
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: 5px;
        outline: none;
        z-index: 1;
    }

    .progressBar::-moz-focus-outer {
        border: 0;
    }

    .progressBar::-moz-range-progress {
        background-image: linear-gradient(to right, #0034c4, #8650F4);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 5px;
    }

    .progressBar::-moz-range-thumb {
        height: 7px;
        width: 7px;
        border-radius: 50%;
        border: transparent;
        background-color: #8650F4;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        box-shadow: -1px 0px 5px #8750f43b;
    }

    .progressBar:active::-moz-range-thumb {
        transform: scale(1.6);
        transition: ease-in-out .05s;
        border: 1px solid whitesmoke;
        border-radius: 50%;
        box-shadow: rgba(255, 255, 255, 0.671);
    }

    /* .volumeContainter {
        display: none;
    } */

    .fillerDivPlayer {
        /* display: none; */
        z-index: -1;
        position: fixed;
        order: 4;
    }

    .otherItemBtnContainer {
        order: 4;
        /* background-color: violet; */
        color: white;
        display: inline-flex;
        display: none;
        opacity: 0;
        right: 0;
    }

    .hiddenBtn {
        display: none;
    }

    .loopBtn {
        font-size: large;
        margin-right: 15px;
        opacity: 0.8;
        margin: auto;

    }

    .looplvl1 {
        color: white !important;
        opacity: 0.6;
    }

    .looplvl2 {
        color: #8650F4 !important;
        opacity: 0.9;
    }

    .looplvl3 {
        color: #5725d5 !important;
        opacity: 0.9;

    }

    .fcBtn {
        color: rgb(255, 255, 255);

        margin: 0.5vw;
        font-size: large;
        /* background-color: #a37df0; */
        /* position: absolute; */
        right: 0;
        /* margin-right: 30px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        border: #a37df072 2px solid;
        padding-left: 5px;
        border-radius: 5px;

    }

    .fcBtn>.queueMusicIcon {
        margin: 3px;
        font-size: x-large;

    }

    

.volumeContainter-ver2 {
    justify-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* position: fixed; */
    /* right: 0; */
    /* margin-top: 22px; */
    align-self: center;
    /* background-color: aqua; */
    /* margin-right: 155px;s */
    /* margin-bottom: 100px; */
    padding-top: 1px;
    font-size: large;
    z-index: 7;
    width: 60px;
    /* right: 0; */
    /* 
    margin-top: 300px; */
    display: none;
    opacity: 0;
}

.volumeContainter>input {
    width: 60px;
    height: 5px;
    

}
.volumeContainter-ver2 > button{
    color: white;
}

.extraItemsCont{
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    flex-flow: column;
    /* background-color: teal; */
    position: fixed;
        margin-bottom: 150px;
        margin-right: 15px;
        right: 0;
        padding: 5px;
        padding-left: 5px;
        border-radius: 5px;
        gap: 5px;
}
}
















.volumeBar {
    width: 80px;
    appearance: none;
    border-radius: 10px;
    outline: none;

    /* transform: translate(0px, -40%); */

    background-color: rgba(255, 255, 255, 0.041);
    color: #fafafa;
    border: #ffffff24 1.5px solid;
    margin: 2px;
}

.volumeBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 5px;
    width: 8px;
    border-radius: 10px;
    transform: scale(1.8);
    border: none;
    background-color: #edeaf4;
    cursor: pointer;
    position: relative;
    margin: 0px -3px 0 0;
    z-index: 3;
    box-sizing: border-box;
    box-shadow: -1px 0px 5px #f8f8f843;

}


.volumeBar::-moz-range-thumb {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: transparent;
    background-color: #8650F4;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    box-shadow: -1px 0px 5px #8750f43b;
}

