@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .card {
    @apply rounded overflow-hidden shadow-md relative;
  }
  .card_sm{
    @apply rounded overflow-hidden shadow-md relative;
  }
  .title{
    @apply font-bold ;
  }
  .creator{
    @apply block ;
  }
  .badge{
    @apply bg-slate-300 text-xs uppercase inline-flex font-bold rounded-full p-2 absolute top-0 ml-2 mt-2;
  }
  .btn{
    @apply rounded-full py-2 px-3 uppercase cursor-pointer tracking-wider
  }
  .footer{
    @apply fixed 
  }
  .bot_nav_item{
    @apply  w-10 h-auto border-b-2 rounded-sm 
    relative text-lg flex flex-col align-middle
  }
  .activeIcon{
    @apply border-trv-Purple 
  }
  .inactiveIcon{
    @apply border-trv-sm-Artist-txt
  }

  .activeText{
    @apply text-white font-body
  }
  .inactiveText{
    @apply text-trv-sm-Artist-txt
  }

  .bot_nav_text{
    font-size: x-small;
    @apply absolute pt-3 inset-y-3 inset-x-0 phone_lg:inset-y-3 phone_lg:inset-x-0 bottom-0 font-body
  }
  .svgFill{
    @apply fill-trv-White text-white
  }
  .svgFillInactive{
    @apply fill-trv-sm-Artist-txt
  }

  .headerBg{
    background-image: linear-gradient(#080C3D, #080c3d69);

    /* From https://css.glass */
    /* background: rgba(8, 12, 61, 0.55); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.1px);
    -webkit-backdrop-filter: blur(16.1px);

  }
  .discoveryGameBG{
    background-image: url("./assets/tempAssets/disoverygame.png");
    background-size: contain; 
    background-repeat: no-repeat;
    height: 118px;
  }

  }

  .songBarItem{
    @apply 
    flex align-middle justify-center items-center
  }
  .mobileNav{
    background: rgba(18, 22, 75, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.1px);
    -webkit-backdrop-filter: blur(16.1px);
    /* border: 1px solid rgba(18, 22, 75, 1); */
  }

  .mobilePlayerBg{
    background: rgba(18, 22, 75, 0.864);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.1px);
    -webkit-backdrop-filter: blur(16.1px);
    /* border: 1px solid rgba(18, 22, 75, 1); */
  }
  .progressBar{
    appearance: none;
    background-color: var(--bar-bg);
    border-radius: 10px;
    width: 100%;
    height: 11px;
    outline:none;
  }
  .progressBarold{
    --bar-bg: var(#2bff00);
    --seek-before-width: 0;
    --seek-before-color: var(--primary);
    --seek-head: var(--primary);
    --seek-head-selected: var(--secondary);

    appearance: none;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline:none;

}

/*safari*/
.progressBar::-webkit-slider-runnable-track{
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline:none;
    
}

/*chrome & safari*/
.progressBar::before{
    content: '';
    height: 11px;
    width: var(--seek-before-width);
    /* background-color: #0034c4 ; */
    background-image: linear-gradient(to right,#0034c4, #8650F4);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

.progressBar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height:20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    background-color: #8650F4;
    cursor: pointer;
    position: relative;
    margin: -4px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    box-shadow: -1px 0px 5px rgba(3, 3, 59, 0.363);

}

.progressBar:active::-webkit-slider-thumb{
    transform: scale(1.2);
    background-color: var(--seek-head-selected);
}


/* firefox */
.progressBar::-moz-range-track{
    background: rgba(19, 13, 103, 0.74);
    
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 5px;
    outline:none;
    z-index: 1;
}
.progressBar::-moz-focus-outer{
    border:0;
}

.progressBar::-moz-range-progress{
    background-image: linear-gradient(to right,#0034c4, #8650F4);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 5px;
}

.progressBar::-moz-range-thumb{
    height:7px;
    width: 7px;
    border-radius: 50%;
    border: transparent;
    background-color: #8650F4;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    box-shadow: -1px 0px 5px #8750f43b;
}

.progressBar:active::-moz-range-thumb{
    transform: scale(1.6);
    transition: ease-in-out .05s;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255, 0.671);
    
}




@layer components {
}



