
.contPlaylist{
    transition: 0.4s;
    height: 80px;
    width: 150px;
    margin: 2px;
    background-color: #12164B;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 10px;
    padding: 0;
    border: #878694 solid 1.5px;
    align-items: center;

}
.plytxtcont{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 70px;
    /* margin-top: auto;
    margin-bottom: auto; */
    
    align-items: flex-start;
    
    gap: 0;
    position: relative;

}
.playlist-img{
    width: 80px;
    height: 80px;
    background-size:cover;
    justify-self: start;
    object-fit: cover;
    overflow: hidden;
}
.bg{
    background-color: rgba(18, 22, 75, 0.7);
    /* From https://css.glass */
    /* background: rgba(8, 12, 61, 0.55); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.1px);
    -webkit-backdrop-filter: blur(16.1px);
    border:rgba(25, 29, 75, 0.7) 2px solid;
    overflow: hidden;
    
  }

.bg:hover{
    background:  linear-gradient(to top, #8650F4, #0034C4);
    border:rgba(78, 78, 78, 0.976) 2px solid;
}

.text{
    text-decoration: none;
}
.plytxt{
    font-size: x-small;
    color: white;
    width: inherit;
    max-width:70px;
    max-height: 1150px;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 2.5px;
    z-index: 2;
    background-color: #12164B;
}


.plytxt:focus, .plytxt:hover{
    color:white;
    cursor: pointer;
    text-shadow: 0px 0px 1.5px rgba(255, 255, 255, 0.54);
}

.plyUntxt{
    font-size: xx-small;
    color: #9b99aa;
    max-height: 30px;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #080C3D;
    flex-grow: 1;
    margin: 0;
    width: inherit;
    padding-left: 2.5px;
    padding-right: 2.5;
    z-index: 2;
}
.plybotcol{
    background-color: #080C3D;
    height: 40px;
    width: inherit;
    position: absolute;
    margin-top: 20px;
    z-index: 1;
}
.plyUntxt:focus, .plyUntxt:hover{
    color:#b9b8c8;
    cursor: pointer;
}

.text:focus, .text:hover{
}