.span{
    font-weight: 800;
}

.loginbtn{
    border-radius: 30px;
}


.signupbtn{

}

.trove-logo{
    border-radius:30px ;
    width:70px;
}

.trove-logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.dd-backg{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px
}

.dd-backg:hover{
    background-color:#647DEE ;
}

.back-icon{
    color: white;
    height: 50px;
    width: 50px;
  
    
    border: 15px;
}

.back-icon:hover{
 background-color: #bec0ca;
opacity: .4;
border-radius: 20px;
}