@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("musicplayer.css");
@import url("musicplayermobile.css");
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

/* body {
    background-color: #0C081C;
    background-image: linear-gradient(to right, #0c081c, #0e0924, #0d0a2c, #0b0b35, #080c3d);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: auto;
    color: white;
   
    
} */

/* DESKTOP */
@media only screen and (min-width: 769px) {
  .profile--body {
    margin-left: 20vmin;
    
  }

  /* HEADER */
  .followers--header {
    text-align: center;
    padding-top: 6vmin;
    font-size: 3vmin;
    display: flex;
    padding-left: 5vmin;

  }

  .followers--header > h1 {
    margin-left: 25vmin;
  }

  .followers--back {
    width:10vmin;
    height: 10vmin;
    /* padding-right: 5vmin; */
  }

  .followers--circle--border {
    width: 11vmin;
    height: 11vmin;
    /* position: absolute; */
    border-color: #0034C4;
    border-radius: 25vmin;
    border-width: 0.75vmin;
    border-style: solid;
    /* margin-top: 2%; */
    margin-left: 25%;
  
  }

  .followers--artist--icon > img {
    background-color: transparent;
    max-width: 85%;
    margin-left: 2%;
    margin-top: 8%;
    margin-bottom: -1%;
    border-radius: 20vmin;
  }  


  /* followers INFO */
  .followers--info {
    display: flex;
    /* position: fixed; */
    /* width: 100%; */
    background-image: linear-gradient(to left, #8650f4, #6f49e8, #5642dc, #393bd0, #0034c4);
    width: 90%;
    height: 20vmin;
    margin: auto;
    margin-top: 5vmin;
    border-radius: 1.5vmin;
    color: white;

    
  }

  .followers--songs {
    margin-top: 60vmin;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 50vh;
    padding-bottom: 15vmin;
    
  }

  .followers--song--cover {
    border-radius: 1vmin;
    height: 40vmin;
    width: 40vmin;
    margin-left: 7%;
    margin-top: 10%;
  }

  .followers--song--cover img {
    border-radius: 1vmin;
    height: 40vmin;
    width: 40vmin;
  }

  .followers--stats--info  {
    margin-top: 10vmin;
    /* margin-left: 5-vmin; */
    text-align: center;
    margin: auto;
   
  
  }

  .followers--stats--info > h3 {
    font-size: 6vmin;
    
  }

  .followers--stats--info > h4 {
    font-weight: 200;
  }

  .followers--release--info  {
    display: flex;
  }

  .followers--release--info > h5 {
    padding-right: 2vmin;
    font-weight: 400;
  }

  .followers--release--info > h6 {
    font-size: 3vmin;
    font-weight: 100;
  }

  .followers--count {
    margin-top: 8vmin;
    margin-left: 2.5vw;
  }
  
  .followers--count > h5 {
    font-weight: 200;
    /* margin-left: 5vw; */

  }

  .followers--list {
    /* margin-top: 15vmin; */
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 60vh;
    width: 85vw;
    /* padding-bottom: 15vmin; */
  }

  .followers--follow {
    background-color: #12164B;
    width: 90%;
    height: 20vmin;
    margin: auto;
    /* margin-top: 10vmin; */
    border-bottom: #0c081c solid;
    border-width: 0.5vmin;
    display: flex;
    /* border-radius: 3vmin; */
    border: none;
    border-radius: 1vmin;

  }

  .followers--tiny--icon {
    /* margin-left: 25vmin; */
    padding-top: 4vmin;
  }

  .followers--tiny--icon > .follower--circle--border {
    /* margin-left: -25vmin */
    width: 11vmin;
    height: 11vmin;
    /* position: absolute; */
    border-color: #0034C4;
    border-radius: 25vmin;
    border-width: 0.75vmin;
    border-style: solid;
    /* margin-top: 2%; */
    margin-left: 25%;
    
  }

  .followers--tiny--icon >  .follower--circle--border > .follower--artist--icon > img {
    /* margin-left: -25vmin; */
    background-color: transparent;
    max-width: 85%;
    margin-left: 8%;
    margin-top: 8%;
    margin-bottom: -1%;
    border-radius: 20vmin;
  }

  .follower--info {
    margin-left: 8vmin;
    margin-top: 5vmin;
    width: 35vmin;

  }

  .follower--info > h5 {
    font-weight: 500;
  }

  .follower--info > h5:hover {
    font-weight: 500;
    text-decoration: underline;
  }

  .follower--info > h6 {
    font-weight: 300;
    color: #878694;
  }

  .follower--follow--icon > img{
    height: 10vmin;
    margin-left: 20vmin;
    margin-top: 5vmin;

  }

  .follower--follow--icon {
    margin-left: 30vw;
    margin-right: 10vw;

  }

  .followers--song:hover {
    transform: scale(1.01); 
    box-shadow: 0 0 11px #0034C4;
  }

  .followers--song:hover >  .followers--tiny--cover > #playmask {
    position: absolute;
    display:inline;
    margin-left: -12vmin;
  }

  .followers--tiny--cover {
    border-radius: 1vmin;
    height: 12vmin;
    width: 12vmin;
    margin-left: 7%;
    margin-top: 10%;
  }

  .followers--tiny--cover img {
    border-radius: 1vmin;
    height: 12vmin;
    width: 12vmin;
    margin-top: 4vmin;
    
  }

  .followers--tiny--cover > #playmask {
    position: absolute;
    display: none;
  }

  .followers--song--info {
    margin-left: 25vmin;
    margin-top: -8vmin;
  }

  .followers--song--info > h5 {
    font-weight: 400;
  }
  

  .followers--song--info > h5 > span {
    font-weight: 200;
    font-size: 3vmin;
    color: #878694;
  }

  .followers--song--info > h6 {
    font-weight: 300;
    color: #878694;
    width: 30vmin;
    font-size: 2.3vmin;
  }

  .followers--song--options {
    display: flex;
    margin-left: 65vmin;
    margin-top: -10vmin;
  }

  #followers--song--heart, #followers--song--share, #followers--song--more {
    height: 4.5vmin;
    /* width: 20vmin; */
    padding-right: 3vmin;
  }

        
}

/* MOBILE VIEW (WIP) */
@media only screen and (max-width: 768px) { 

  .profile--body {
    margin-left: 20vmin;
    
  }

  /* HEADER */
  .followers--header {
    text-align: center;
    padding-top: 6vmin;
    font-size: 3vmin;
    display: flex;
    padding-left: 5vmin;

  }

  .followers--header > h1 {
    margin-left: 25vmin;
  }

  .followers--back {
    width:10vmin;
    height: 10vmin;
    /* padding-right: 5vmin; */
  }

  .followers--circle--border {
    width: 11vmin;
    height: 11vmin;
    /* position: absolute; */
    border-color: #0034C4;
    border-radius: 25vmin;
    border-width: 0.75vmin;
    border-style: solid;
    /* margin-top: 2%; */
    margin-left: 25%;
  
  }

  .followers--artist--icon > img {
    background-color: transparent;
    max-width: 85%;
    margin-left: 2%;
    margin-top: 8%;
    margin-bottom: -1%;
    border-radius: 20vmin;
  }  


  /* followers INFO */
  .followers--info {
    display: flex;
    /* position: fixed; */
    /* width: 100%; */
    background-image: linear-gradient(to left, #8650f4, #6f49e8, #5642dc, #393bd0, #0034c4);
    width: 90%;
    height: 20vmin;
    margin: auto;
    margin-top: 5vmin;
    border-radius: 1.5vmin;
    color: white;

    
  }

  .followers--songs {
    margin-top: 60vmin;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 50vh;
    padding-bottom: 15vmin;
    
  }

  .followers--song--cover {
    border-radius: 1vmin;
    height: 40vmin;
    width: 40vmin;
    margin-left: 7%;
    margin-top: 10%;
  }

  .followers--song--cover img {
    border-radius: 1vmin;
    height: 40vmin;
    width: 40vmin;
  }

  .followers--stats--info  {
    margin-top: 10vmin;
    /* margin-left: 5-vmin; */
    text-align: center;
    margin: auto;
   
  
  }

  .followers--stats--info > h3 {
    font-size: 6vmin;
    
  }

  .followers--stats--info > h4 {
    font-weight: 200;
  }

  .followers--release--info  {
    display: flex;
  }

  .followers--release--info > h5 {
    padding-right: 2vmin;
    font-weight: 400;
  }

  .followers--release--info > h6 {
    font-size: 3vmin;
    font-weight: 100;
  }

  .followers--count {
    margin-top: 8vmin;
  }
  
  .followers--count > h5 {
    font-weight: 200;
    margin-left: 5vmin;

  }

  .followers--list {
    /* margin-top: 15vmin; */
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 60vh;
    width: 100vw;
    /* padding-bottom: 15vmin; */
  }

  .followers--follow {
    background-color: #12164B;
    width: 90%;
    height: 20vmin;
    margin: auto;
    /* margin-top: 10vmin; */
    border-bottom: #0c081c solid;
    border-width: 0.5vmin;
    display: flex;
    border-radius: 1vmin;
    border: none;

  }

  .followers--tiny--icon {
    /* margin-left: 25vmin; */
    padding-top: 4vmin;
  }

  .followers--tiny--icon > .follower--circle--border {
    /* margin-left: -25vmin */
    width: 11vmin;
    height: 11vmin;
    /* position: absolute; */
    border-color: #0034C4;
    border-radius: 25vmin;
    border-width: 0.75vmin;
    border-style: solid;
    /* margin-top: 2%; */
    margin-left: 25%;
    
  }

  .followers--tiny--icon >  .follower--circle--border > .follower--artist--icon > img {
    /* margin-left: -25vmin; */
    background-color: transparent;
    max-width: 85%;
    margin-left: 8%;
    margin-top: 8%;
    margin-bottom: -1%;
    border-radius: 20vmin;
  }

  .follower--info {
    margin-left: 8vmin;
    margin-top: 5vmin;
    width: 35vmin;

  }

  .follower--info > h5 {
    font-weight: 500;
  }

  .follower--info > h5:hover {
    font-weight: 500;
    text-decoration: underline;
  }

  .follower--info > h6 {
    font-weight: 300;
    color: #878694;
  }

  .follower--follow--icon > img{
    height: 10vmin;
    margin-left: 20vmin;
    margin-top: 5vmin;

  }

  .followers--song:hover {
    transform: scale(1.01); 
    box-shadow: 0 0 11px #0034C4;
  }

  .followers--song:hover >  .followers--tiny--cover > #playmask {
    position: absolute;
    display:inline;
    margin-left: -12vmin;
  }

  .followers--tiny--cover {
    border-radius: 1vmin;
    height: 12vmin;
    width: 12vmin;
    margin-left: 7%;
    margin-top: 10%;
  }

  .followers--tiny--cover img {
    border-radius: 1vmin;
    height: 12vmin;
    width: 12vmin;
    margin-top: 4vmin;
    
  }

  .followers--tiny--cover > #playmask {
    position: absolute;
    display: none;
  }

  .followers--song--info {
    margin-left: 25vmin;
    margin-top: -8vmin;
  }

  .followers--song--info > h5 {
    font-weight: 400;
  }
  

  .followers--song--info > h5 > span {
    font-weight: 200;
    font-size: 3vmin;
    color: #878694;
  }

  .followers--song--info > h6 {
    font-weight: 300;
    color: #878694;
    width: 30vmin;
    font-size: 2.3vmin;
  }

  .followers--song--options {
    display: flex;
    margin-left: 65vmin;
    margin-top: -10vmin;
  }

  #followers--song--heart, #followers--song--share, #followers--song--more {
    height: 4.5vmin;
    /* width: 20vmin; */
    padding-right: 3vmin;
  }





}
